<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>342372490414-8noluqn0bhpntn0u75kshd9seb4g2gvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342372490414-8noluqn0bhpntn0u75kshd9seb4g2gvb</string>
	<key>API_KEY</key>
	<string>AIzaSyDiDsyr09tS0po8w2O5eXXjPjVdbelvHug</string>
	<key>GCM_SENDER_ID</key>
	<string>342372490414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sesh-Harika.FBI-FR</string>
	<key>PROJECT_ID</key>
	<string>fbi-fr</string>
	<key>STORAGE_BUCKET</key>
	<string>fbi-fr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:342372490414:ios:436df25c1264a539</string>
	<key>DATABASE_URL</key>
	<string>https://fbi-fr.firebaseio.com</string>
</dict>
</plist>